.navbar {
  width: 100%;
  height: 80px;
  background: linear-gradient(135deg, #0c0c0c 0%, #1a1a1a 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-sizing: border-box;
}


.brand {
  font-size: 1.6rem;
  font-weight: 600;
  color:#ffd700;
  text-decoration: none;
}

.navbar-center {
  flex: 1;                  
  display: flex;
  justify-content: center;  
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: #ffd700;
}


.profile-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
}
